@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");


body{
    font-family: "DM Sans";
    background-color: rgb(238, 243, 253);
    margin: 0;
}

h1{
    margin:20px;
    margin-top: 55px;
    /* position: absolute;
    left:50%;
    transform: translateX(-100%);
    top: 55px; */
}

#header{
    position:fixed;
    width:20vw;
    height:100vh;
    border-right: solid black 5px;
}

#content{
    position:absolute;
    left:25vw;
    width:75vw;
    margin-top: 50px;
}

.post{
    margin-bottom: 50px;
    height:auto;
    width: 90%;
}

.metadata{
    font-size: 20px;

}


.post-image{
    width: 100%;
}

.post-image-small{
    width: 48%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}

@media screen and (max-width: 800px){
    body{
        font-family: "DM Sans";
        background-color: rgb(238, 243, 253);
        margin: 0;
    }
    
    h1{
        position: absolute;
        left: 40px;
        top: 40px;
        margin:0px;
    }
    
    #header{
        position: absolute;
        width:100vw;
        height:120px;
        border:none;
        border-bottom: solid black 5px;
    }
    
    #content{
        position:absolute;
        left:0px;
        box-sizing: border-box;
        padding:40px;
        top:70px;
        width:100vw;
        margin-top: 50px;
    }
    
    .post{
        margin-bottom: 50px;
        height:auto;
        width: 90%;
    }
    
    .metadata{
        font-size: 20px;
    
    }
    
    .post-image{
        width: 100%;
    }

    .post-image-small{
        width: 100%;
    }

    
}